<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
	<preference for="Anees\Apiboilerplate\Api\GetProductNameManagementInterface" type="Anees\Apiboilerplate\Model\GetProductNameManagement"/>
	<preference for="Anees\Apiboilerplate\Api\GetProductPriceInterface" type="Anees\Apiboilerplate\Model\GetProductPriceInterface"/>
</config>
